.titulo-tema {
    color:  #FFFFFF;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 10%;
    text-transform: uppercase;
}